
.leaflet-control-search {
	position:relative;

	float:left;
	background:#fff;
	color:#1978cf;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin:10px;
	padding:6px;
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1000;
}
.leaflet-control-search .search-input {
	background: #eee;
	border:1px solid #666;
	border-radius:.4em;
	line-height:20px;
	height:19px;
	padding:0;
	margin:0 .5em 0 0;
	display:block;
	float:left;
}
.leaflet-control-search .search-button {
	display:block;
	float:left;
	width:22px;
	height:22px;	
	background: url('search-icon.png') no-repeat 0 0 #eee;
	border:0px solid #ccc;
	border-radius:.25em;
}
.leaflet-control-search .search-tooltip {
	display:none;
	position:absolute;
	top:34px;
	left:0;
	float:left;
	min-width:80px;
	
	background: #eee;
	border-radius:7px;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
}
.leaflet-control-search .search-tip {
	margin:.125em;
	padding:0 .125em;
	display:block;
	background: #eee;
	border-radius:.125em;
	text-decoration:none;	
}
.leaflet-control-search .search-tip:hover {
	background: #fff;
}
.leaflet-control-search .search-alert {
	clear:both;
	font-size:.75em;
	margin-top:26px;
	padding:0 .25em;
	color:#e00;
	background: #eee;
	border-radius:.25em;
}


